@model InternshipRequest

@{
    var exists = ((InternshipRequest[])ViewData["existingRequests"]!)
        .Select(r => r.StudentId)
        .Contains(Model.StudentId);
}

<form asp-action="CreateInternshipRequest" method="post">
    <input type="hidden" asp-for="StudentId">
    <input type="hidden" asp-for="InternshipId">
    <button class="button create-project-form__save-btn ms-auto mt-4" @(exists ? "disabled" : "")>Оставить отклик</button>
</form>