@model FileDescription

<div class="add-file-container">
    <div class="edit-file-btn d-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Редактировать">
        <div class="edit-file-btn__text mx-auto"></div>
        <div class="edit-file-btn__delete-button"></div>
    </div>
    <div class="modal-container z-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
                    <div class="form-container new-file-form">
                        <h4 class="new-file-form__title">
                            Новый файл
                        </h4>
                        <hr class="form-divider">
                        <input asp-for="Name" type="text" class="form-control new-file-form__filename" placeholder="Название">
                        <span asp-validation-for="Name"></span>
                        <textarea asp-for="Description" class="form-control new-file-form__description" placeholder="Описание"></textarea>
                        <span asp-validation-for="Description" class="field-validation-valid"></span>
                        <input asp-for="File" type="file" class="form-control form-control-sm new-file-form__file">
                        <span class="field-validation-valid" asp-validation-for="File"></span>
                        <div class="new-file-form__buttons-cont d-flex justify-content-between">
                            <div type="button" class="new-file-form__close-button">Отмена</div>
                            <button type="button" class="button new-file-form__add-btn ms-auto">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
