/* defaults */

.bg{
  min-width: 100%;
  min-height: calc(100vh - 65px);
}

body{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #898989
}

main{
  margin-top: 65px;
}

.form-container{
  width: 100%;
  background: white;
  border-radius: 10px;
}

.form-control:focus{
  box-shadow: none;
  border: 3px solid #14DEAE;
}

.form-control{
  border: 3px solid rgba(204, 204, 204, 0.81);
  border-radius: 6px;
  height: 55px;
}

.form-title{
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #494949;
}

.form-divider{
  border: 3px solid #494949;
  margin-bottom: 19px;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .25);
}

.form-offer{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.form-offer__text{
  color: #898989;
}

.form-offer__link{
  color: #14DEAE;
  cursor: pointer;
  text-decoration: none;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.validation-summary-errors, .field-validation-error{
  color: #ff0000;
}

.field-validation-error{
  font-size: 13px;
}

.validation-summary-errors{
  font-size: 16px;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #BAB4B4;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio:checked+label::before {
  background-image: url("../img/svg/radio-flag.svg")
}

.custom-radio:disabled+label::before {
  background-color: #e9ecef;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14DEAE;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.button:hover{
  opacity: .8;
}

.back-button{
  width: 35px;
  height: 35px;
  display: inline-block;
  background: url("../img/svg/back-icon.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  margin-left: -30px;
  margin-top: -55px;
}

.m-top-back-btn{
  margin-top: 30px;
}

.form-control::placeholder{
  color: #898989;
}

header{
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  background: #4B4A7F;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
}

.header-container{
  height: 65px;
}

.header-vertical-line{
  border-left: thick solid #999999;
  border-left-width: 2px;
  height: 50px;
}

.header-enter-button{
  text-decoration: none;
  color: #FFFFFF;
  width: 119px;
  height: 37px;
  border: 3px solid #FFFFFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-text{
  color: #494949;
}

/* fancy loader */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* auth/register page defaults */

.bg.auth-page-bg{
  background: url("../img/svg/bg.svg") no-repeat fixed center;
  background-size: cover;
}

/* auth form */

.auth-form{
  padding: 42px 35px;
}

.auth-form__email, .register-form__email, .register-form__name{
  margin-top: 27px;
}

.auth-form__password, .register-form__password, .register-form__surname, .register-form__company{
  margin-top: 25px;
}

.auth-form__buttons-cont{
  margin-top: 39px;
}

.auth-form__submit{
  border-radius: 25px;
  height: 50px;
  width: 124px;
}

/* register form */

.register-form{
  padding: 37px 42px;
}

.form-step{
  display: none;
}

.form-step.form-step-active{
  display: block;
  animation: form-show .5s;
  transform-origin: center;
}

@keyframes form-show {
  from{
    transform: scale(0, 0);
    opacity: 0
  }
  to{
    transform: scale(1, 1);
    opacity: 1
  }
}

.step-counter{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #898989;
}

.register-form__role-radio-cont{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 27px;
}

.register-form__email {
  margin-top: 17px;
}

.register-form__continue{
  width: 206px;
  height: 50px;
  border-radius: 25px;
  margin-top: 28px;
}

.register-form__date-of-birth{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #999999;
  margin-top: 12px;
}

.register-form__date-of-birth-cont{
  margin-top: 17px;
}

.register-form__sex-radio-cont{
  margin-top: 12px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.register-form__buttons-cont{
  margin-top: 22px;
}

.register-form__submit{
  height: 50px;
  border-radius: 25px;
  width: 145px;
}

.register-form__skip-personal{
  height: 50px;
  border-radius: 25px;
  width: 145px;
  color: #999999;
  background: none;
  text-decoration-line: underline;
  text-underline: #999999;
}


/* profile form */

.profile-form-container{
  margin: 100px 0;
}

.profile-form__avatar-container{
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50% 50%;
  overflow: hidden;
}

.profile-form__avatar-viewer{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.profile-form__title{
  font-size: 32px;
  line-height: 39px;
}

.profile-form{
  padding: 30px 22px;
}

.profile-form__fields-container{
  padding: 15px 30px 0;
}

.profile-form__label{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.profile-form__field{
  margin-top: 20px;
}

.profile-form__additional-links{
  font-size: 22px;
  line-height: 27px;
}

.profile-form__about{
  height: 200px;
}

.profile-form__submit-btn{
  width: 145px;
  height: 50px;
  border-radius: 25px;
  margin-top: 23px;
  margin-left: auto;
}

/* create-project-form styles */

.create-project-form-container{
  margin: 50px 0;
}

.create-project-form{
  padding: 40px 30px;
}

.create-project-form__title{
  font-size: 32px;
  line-height: 39px;
}

.create-project-form__title-input{
  margin-top: 28px;
}

.create-project-form__save-btn{
  width: 168px;
  height: 50px;
  border-radius: 25px;
  margin-left: auto;
  margin-top: 40px;
}

.create-project-form__topic-container{
  margin-top: 8px;
}

.create-project-form__topics-label, .description-label{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #676767;
}

.create-project-form__description, .create-project-form__files{
  margin-top: 15px;
}

.label-icon{
  margin-right: 5px;
}

.label-icon-container{
  margin-bottom: 10px;
}

.topic-checkbox{
  position: absolute;
  opacity: 0;
}

.topic-checkbox + label{
  font-size: 13px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 15px;
  user-select: none;
}

.topic-checkbox:checked + label{
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.topic-checkbox-container{
  margin: 5px;
  display: inline-block;
}

.topic-tab{
  font-size: 13px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 10px;
  border-radius: 15px;
  user-select: none;
  margin: 5px 5px;
}

.dropdown-topics-list-container{
  background: #f6f6f6;
  border-radius: 10px;
  padding: 5px;
}

.dropdown-topics-list-container{
  display: none;
  transform-origin: top;
  animation: dropdown .5s;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .5) inset;
}

@keyframes dropdown {
  from{
    transform: scale(1, 0);
    opacity: 0
  }
  to{
    transform: scale(1, 1);
    opacity: 1
  }
}

.dropdown-topics-list-container.active{
  display: block;
}

.create-project-form__description>textarea{
  height: 160px;
}

.open-topic-dropdown{
  cursor: pointer;
  text-decoration: underline dashed 1px #676767;
  text-underline-offset: 2px;
  user-select: none;
}

.add-file-container{
  margin-top: 15px;
}

.edit-file-btn{
  position: relative;
  user-select: none;
  display: flex;
  height: 40px;
  border: 2px solid #999999;
  border-radius: 20px;
  color: #494949;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

.file-forms-container{
  counter-reset: file;
}

.edit-file-btn:before{
  position: absolute;
  
  counter-increment: file;
  color: #999999;
  font-size: 15px;
  content: counter(file) "."
}

.edit-file-btn__delete-button{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  background: url(../img/svg/cross.svg) no-repeat;
  background-size: cover;
}


.more-files-btn{
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
}


.modal-container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
}

.modal-container.active{
  display: flex;
}

.new-file-form{
  padding: 25px 40px;
}

.new-file-form__title{
  font-size: 32px;
  line-height: 39px;
  color: #494949;
}

.new-file-form__filename, .new-file-form__description, .new-file-form__file{
  margin-top: 23px;
}

.new-file-form__file{
  height: inherit;
}

.new-file-form__description{
  height: 140px;
}

.new-file-form__add-btn{
  width: 160px;
  height: 50px;
  border-radius: 25px;
}

.new-file-form__buttons-cont{
  margin-top: 27px;
}

.new-file-form__close-button{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: underline;
  color: #999999;
  cursor: pointer;
  margin-left: 25px;
}

.new-file-form__close-button:hover{
  opacity: .8;
}

/* MyProjects page styles */

.bg.my-projects-bg {
  background: url("../img/svg/bg-white.svg") no-repeat fixed center;
  background-size: cover;
}

.my-projects-list-container{
  margin: 50px 0;
  min-height: 50vh;
}

.my-projects-list-container__project, .my-projects-list-container__found-panel, #set-filter-form{
  padding: 0 15px;
}

.my-projects-list-container__search-panel{
  height: 75px;
}

.search-icon{
  background: url("../img/svg/search-icon.svg");
  margin-right: 12px;
  width: 30px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.search-input{
  height: 24px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 20px;
  width: 180px;
}

.search-input:focus, .search-input:focus-visible{
  border: none;
  outline: none;
}

.search-input::placeholder{
  color: #CCCCCC;
  opacity: .8;
  font-weight: 400;
  font-size: 20px;
}

.my-projects-list-container__found-panel{
  height: 35px;
  border-top: 2px;
  border-bottom: 2px;
  border-style: solid none;
  border-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999999;
  font-size: 14px;
  line-height: 17px;
}


.my-projects-list-container__project{
  padding-top: 15px;
  padding-bottom: 15px;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid;
  border-color: #D9D9D9;
}

.my-projects-list-container__project__pinned{
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -15px;
  width: 50px;
  height: 50px;
}

.project__pinned__pinned-mark{
  background: url("../img/svg/pinned-icon-unpinned.svg") no-repeat center;
  background-size: cover;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all ease-in-out .15s;
}

.project__pinned__pinned-mark.pinned{
  background: url("../img/svg/pinned-icon-pinned.svg") no-repeat center;
}

.project__pinned__pinned-mark.disabled{
  filter: grayscale(100%);
  pointer-events: none;
}

.pin-success, .pin-failure{
  width: 25px;
  height: 25px;
  border-radius: 20%;
  overflow: hidden;
  display: inline-block;
}

.pin-success{
  background: green;
}

.pin-failure{
  background: red;
}

.project__pinned__pinned-mark:hover{
  transform: scale(1.2, 1.2);
}

.project__pinned__border{
  position: absolute;
  right: 0;
  border-left: 2px solid #D9D9D9;
  width: 100%;
  height: 100%;
  background: white;
}

.my-projects-list-container__project:hover .my-projects-list-container__project__pinned{
  display: flex;
}

.my-projects-list-container__project:hover .project__pinned__border{
  animation: slide-in .3s ease-in forwards;
}

@keyframes slide-in {
  from{
    
  }
  to{
    width: 2px;
  }
}

.my-projects-list-container__project:hover .project__pinned__border{
  animation: slide-in .3s ease-in forwards;
}

.my-projects-list-container__project__title{
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.my-projects-list-container__project__creation-date{
  font-weight: 400;
  font-size: 16px;
  color: #898989;
}

.my-projects-list-container__project__topic-display{
  border-radius: 50% 50%;
  width: 12px;
  margin: 0 2px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.my-projects-list-container__project__info{
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.my-projects-list-container__project__info:visited{
  color: inherit;
}

.topics-choice-open{
  margin-left: auto;
  color: #676767;
  text-decoration: underline dashed #676767 1px;
  text-underline-offset: 2px;
  cursor: pointer;
  user-select: none;
}

.add-project-link{
  color: #4B4A7F;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.add-project-link.visited{
  color: #4B4A7F;
}

/* edit project page styles */

.new-file-form__file-download{
  border: #999999 solid 2px;
  border-radius: 15px;
  padding: 10px 8px;
  margin-top: 25px;
}

.new-file-form__file-download>.replace-file-btn{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

