<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    @await RenderSectionAsync("Head", false)
</head>
<body>
<header>
    <div class="container header-container">
        <div class="row h-100">
            <div class="col-2 d-flex justify-content-start align-items-center">
                <a asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/img/svg/logo.svg" alt="...">
                </a>
            </div>
            <div class="col-2 offset-8 d-flex justify-content-end align-items-center">
                <div class="header-vertical-line"></div>
                @if (User.Identity is {IsAuthenticated: true })
                {
                    <a asp-controller="Account" asp-action="Profile" class="header-enter-button ms-2">Профиль</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Auth" class="header-enter-button ms-2">Войти</a>
                }
            </div>
        </div>
    </div>
</header>
<main role="main">
    @RenderBody()
</main>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/initTooltips.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>